@model TechnoShop.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gioithieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioithieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dienchi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dienchi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
