@model IEnumerable<TechnoShop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.First_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @string.Format("{0:#,###.##}", (item.Total))Đ
                </td>
                <td>
                    @if (item.Status == 2)
                    {
                        <p>Wait</p>
                    }
                    else if (item.Status == 3)
                    {
                        <p>Shipping</p>
                    }
                    else if (item.Status == 4)
                    {
                        <p>Done</p>
                    }
                    else if (item.Status == 0)
                    {
                        <p>Cancel</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.First_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Order_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Order_ID }) |
                    @if (item.Status == 2)
                    {
                        @Html.ActionLink("Shipping", "Delete", new { id = item.Order_ID })
                    }
                    else if (item.Status == 3)
                    {
                        @Html.ActionLink("Done", "Delete", new { id = item.Order_ID })
                    }
                    else if (item.Status == 4)
                    {
                      
                    }
                    else if (item.Status == 0)
                    {
                      
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
